h1 {
	border: 2px solid slateblue;
	font-family: verdana; 
	color: #cc0052 ; align-items: center; 
}

body {
	background-color:#f2e6ff;
}

tr {
	color:#0086b3;
	font-family:MV boli;
}

h2 {
    font-family:Comic Sans;
    color:#59b300
}




